@CHARSET "ISO-8859-1";

/* html,body,div,form,
input,h1,h2,h3,h4,
h5,h6,img,em,ul,li,ol,
table,thead,th,tr
{
	padding:0;
	margin: 0 0 0 0 ;
	border:0px;
	font-size:100%;
	vertical-align:baseline;
	
}

body{
	line-height:1;
	
}

ol,ul{
	list-style:none;
}
 */
				input{
				 margin-bottom:8px;
				}

				button#submit{
				 margin-top:28px;
				}
				

		
		
	